@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}
html {
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background-color: #DEDEED;
}
#menuBtn {
    position: fixed;
    font-size: 1.5rem;
    padding: .2rem .5rem;
    right: 0;
    z-index: 20;
}
.container {
    background-color: white;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    gap: 1em;
    width: 97vw;
    max-width: 1080px;
    min-height: 592px;
}
.menu {
    background-color: #DEDEED;
    max-width: 300px;
    padding: 1em;
    border-radius: .5em;
    display: none;
    position: absolute;
}

.profile {
    display: flex;
    gap: 1rem;
    margin-bottom: 3rem;
}
.profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}


nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}
a {
    text-decoration: none;
    color: black;
    padding: .4rem;
    padding-left: 1rem;
    border-radius: .3rem;
    transition: ease-out .1s;
}
a:hover {
    background-color: white;
}


.upgrade-card {
    width: 100%;
    padding: 1rem;
    background-color: #3B2CE3;
    color: white;
    text-align: center;
    border-radius: .5em;
    height: 200px;
    margin-bottom: 1rem;
}
.upgrade-card > * {
    margin-bottom: 1.5rem;
}
.upgrade-card a {
    padding: .6em;
    border-radius: .3em;
    background-color: white;
    color: #3B2CE3;
    text-decoration: none;
}


footer {
    display: flex;
    justify-content: space-between;
    color: #3B2CE3;
}


.main-area {
    width: 100%;
    padding: .5rem;
}
.top-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}
.search-bar i {
    color: #DEDEED;
    font-size: 1.1rem;
    margin-right: 1rem;
}
.search-bar input {
    width: 80%;
    max-width: 300px;
    font-size: 1.1rem;
    border: 0;
    padding: .1rem .5rem;
}
.table {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}
.table-head {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.table-head > * {
    width: 100%;
}
.file-link{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    transition: ease-out .2s;
}
.file-link:hover {
    background-color: #DEDEED;
}
.file-link p {
    width: 100%;
}
.file-link p:nth-child(2), .file-link p:nth-child(3), .table-head h4:nth-child(2), .table-head h4:nth-child(3) {
    display: none;
}

@media(min-width: 499px) {
    .top-bar {
        flex-direction: row;
    }
    .file-link p:nth-child(2), .table-head h4:nth-child(2) {
        display: inline;
    }
    .main-area {
        padding: 1.5rem;
    }
    .top-bar {
        margin-bottom: 1rem;
    }
    .table {
        margin-top: 1rem;
    }
}

@media(min-width: 679px) {
    .file-link p:nth-child(3), .table-head h4:nth-child(3) {
        display: inline;
    }
    .main-area {
        padding: 2rem;
    }
    .top-bar {
        margin-bottom: 1.5rem;
    }
    .table {
        margin-top: 1.5rem;
    }
    
}

@media(min-width: 859px) {
    #menuBtn {
        display: none;
    }
    .menu{
        position: relative;
        display: block;
    }
}

@media(min-height:700px) {
    body {
        display: grid;
        place-content: center;
        height: 100vh;
    }
}
